table, thead, tbody{
    width: 100%;
}

thead{
    background-color: rgb(223, 223, 223);
    font-weight: 500;
}

.btn_table{
    margin-bottom: 10px;
}

.tbl{
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.cell:nth-child(1) {
    flex: 1;
}

.row:nth-child(2n) {
      background-color: rgba(182, 182, 182, 0.16);
}

.cell:nth-child(2) {
    flex: 2;
}
.cell:nth-child(3) {
    flex: 2;
}
.cell:nth-child(4) {
    flex: 2;
}
.cell:nth-child(5) {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row:hover{
    background-color: rgba(223, 223, 223, 0.8);
}

.cell {
    flex: 5;
    border: 1px solid rgb(107, 107, 107);
}

.row .cell {
    padding: 16px 2.3em 16px 16px;
    box-sizing: border-box;
    max-height: 60px;
}

.tbl_btn{
    margin: 0 auto;
}
#hidetext { -webkit-text-security: disc; /* Default */ }